// 表格
.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #fffcee;
}
// 输入框
.ant-input:hover,
.ant-input:focus,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ffe156;
}
// 分页
.ant-pagination-item-active {
  border-color: #ffb400;
  background: #ffb400;
  & > a {
    // color: #ffb400;
    color: #333;
  }
}
.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-pagination-options-quick-jumper input:hover {
  border-color: #ffb400;
  & > a {
    // color: #ffb400;
    color: #333;
  }
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #ffb400;
  color: #ffb400;
}
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-calendar-time-picker-select li:focus {
  color: #ffb400;
}
// 时间选择器
.ant-calendar-today .ant-calendar-date {
  color: #ffb400;
  border-color: #ffb400;
}
.ant-calendar-selected-day .ant-calendar-date {
  background: #ffb400;
}
.ant-calendar-today .ant-calendar-date {
  background: #fefbea;
}
.ant-calendar .ant-calendar-ok-btn {
  background: #ffb400;
  border-color: #ffb400;
}
.ant-calendar .ant-calendar-ok-btn:hover,
.ant-calendar .ant-calendar-ok-btn:focus {
  background-color: #ffe156;
  border-color: #ffe156;
}
.ant-calendar .ant-calendar-ok-btn-disabled,
.ant-calendar .ant-calendar-ok-btn.disabled,
.ant-calendar .ant-calendar-ok-btn[disabled],
.ant-calendar .ant-calendar-ok-btn-disabled:hover,
.ant-calendar .ant-calendar-ok-btn.disabled:hover,
.ant-calendar .ant-calendar-ok-btn[disabled]:hover,
.ant-calendar .ant-calendar-ok-btn-disabled:focus,
.ant-calendar .ant-calendar-ok-btn.disabled:focus,
.ant-calendar .ant-calendar-ok-btn[disabled]:focus,
.ant-calendar .ant-calendar-ok-btn-disabled:active,
.ant-calendar .ant-calendar-ok-btn.disabled:active,
.ant-calendar .ant-calendar-ok-btn[disabled]:active,
.ant-calendar .ant-calendar-ok-btn-disabled.active,
.ant-calendar .ant-calendar-ok-btn.disabled.active,
.ant-calendar .ant-calendar-ok-btn[disabled].active {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #ffb400;
}
.ant-btn-link:hover {
  color: #ffa800;
}
.ant-calendar-time-picker-select::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}
// tab切换
.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
  transition: margin-left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane-inactive,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane-inactive {
  height: auto;
  opacity: 1;
}
.ant-tabs-top .ant-tabs-ink-bar-animated,
.ant-tabs-bottom .ant-tabs-ink-bar-animated {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

// pc产品反馈图片列表
.page-feedback {
  .ant-upload.ant-upload-select-picture-card {
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 0;
    background: #fff;
    border: 2px dashed #efefef;
    i {
      font-size: 20px;
      color: #b8babf;
    }
  }
  .ant-upload-list-picture-card-container {
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 0;
  }
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }
}
// 移动产品反馈图片列表
.mobile-feedback {
  .ant-upload.ant-upload-select-picture-card {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.16rem 0.16rem 0;
    background: #f9f9f9;
    border: 1px dashed #e4e4e4;
    border-radius: 0.2rem;
    color: #aaa;
    i {
      font-size: 0.34rem;
      color: #aaa;
    }
  }
  .ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0;
    color: #aaa;
  }
  .ant-upload-list-picture-card-container {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.16rem 0.16rem 0;
  }
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.2rem;
    overflow: hidden;
  }
  .ant-upload-list-picture-card
    .ant-upload-list-item:hover
    .ant-upload-list-item-info::before {
    opacity: 0 !important;
  }
  .ant-upload-list-picture-card
    .ant-upload-list-item-info
    + .ant-upload-list-item-actions,
  .ant-upload-list-picture-card .ant-upload-list-item-actions {
    width: 100%;
    height: 100%;
    opacity: 1 !important;
  }
  .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.44rem;
    height: 0.44rem;
    margin: 0;
    background: url('https://j.weizan.cn/zhibo/microcourse/images/del-img-icon.png') no-repeat center center;
    background-size: cover;
    svg {
      display: none;
    }
  }
}

// 移动端的
.menu-box {
  .ant-drawer-content {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0 0 0.36rem 0.36rem;
  }
  .ant-drawer-body{
    padding: 0;
  }
  .head{
    height: 0.88rem;
    padding: 0 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    .logo {
      width: 1.06rem;
    }
    .menu-btn {
      width: 0.48rem;
      height: 0.48rem;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.52rem;
      font-size: 0.28rem;
      font-weight: bold;
      margin: 0 0.3rem;
      list-style: none;
      border-top: 1px solid rgba(255,255,255,0.2);
      &:first-child{
        border-top: none;
      }
      a,
      span {
        color: #fff;
      }
    }
  }
}
.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper{
  box-shadow: none;
}

.ant-popover-inner{
  .ant-popover-inner-content{
    padding: 40px;
  }
}