.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #fffcee;
}
.ant-input:hover,
.ant-input:focus,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ffe156;
}
.ant-pagination-item-active {
  border-color: #ffb400;
  background: #ffb400;
}
.ant-pagination-item-active > a {
  color: #333;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-pagination-options-quick-jumper input:hover {
  border-color: #ffb400;
}
.ant-pagination-item:focus > a,
.ant-pagination-item:hover > a,
.ant-pagination-options-quick-jumper input:hover > a {
  color: #333;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #ffb400;
  color: #ffb400;
}
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-calendar-time-picker-select li:focus {
  color: #ffb400;
}
.ant-calendar-today .ant-calendar-date {
  color: #ffb400;
  border-color: #ffb400;
}
.ant-calendar-selected-day .ant-calendar-date {
  background: #ffb400;
}
.ant-calendar-today .ant-calendar-date {
  background: #fefbea;
}
.ant-calendar .ant-calendar-ok-btn {
  background: #ffb400;
  border-color: #ffb400;
}
.ant-calendar .ant-calendar-ok-btn:hover,
.ant-calendar .ant-calendar-ok-btn:focus {
  background-color: #ffe156;
  border-color: #ffe156;
}
.ant-calendar .ant-calendar-ok-btn-disabled,
.ant-calendar .ant-calendar-ok-btn.disabled,
.ant-calendar .ant-calendar-ok-btn[disabled],
.ant-calendar .ant-calendar-ok-btn-disabled:hover,
.ant-calendar .ant-calendar-ok-btn.disabled:hover,
.ant-calendar .ant-calendar-ok-btn[disabled]:hover,
.ant-calendar .ant-calendar-ok-btn-disabled:focus,
.ant-calendar .ant-calendar-ok-btn.disabled:focus,
.ant-calendar .ant-calendar-ok-btn[disabled]:focus,
.ant-calendar .ant-calendar-ok-btn-disabled:active,
.ant-calendar .ant-calendar-ok-btn.disabled:active,
.ant-calendar .ant-calendar-ok-btn[disabled]:active,
.ant-calendar .ant-calendar-ok-btn-disabled.active,
.ant-calendar .ant-calendar-ok-btn.disabled.active,
.ant-calendar .ant-calendar-ok-btn[disabled].active {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #ffb400;
}
.ant-btn-link:hover {
  color: #ffa800;
}
.ant-calendar-time-picker-select::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}
