@import "../font/iconfont.css";
*,
p {
  padding: 0;
  margin: 0;
}
html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  color: #666;
  font-size: 14px;
}
a {
  font-style: normal;
  text-decoration: none;
  color: #FFA800;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
a:hover {
  color: #FFE156;
}
li {
  list-style-type: none;
}
input,
img,
button {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
i,
em {
  font-style: normal;
}
input[type="number"],
textarea {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bebebe;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bebebe;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bebebe;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bebebe;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.id-flex {
  display: -webkit-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
}
.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ali-start {
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.ali-cen {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.ali-end {
  align-items: flex-end;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.juc-cen {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.juc-end {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.flex-dircol {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.juc-bet {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.juc-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.pc-model .ant-modal-content {
  border-radius: 20px;
  overflow: hidden;
}
.pc-model .ant-modal-body {
  padding: 30px 35px;
}
.pc-model h3 {
  color: #262626;
  font-size: 22px;
  line-height: 1;
}
.pc-model .desc {
  color: #666;
  font-size: 14px;
}
.pc-model .desc > span {
  color: #ffb400;
}
.pc-model .model-item {
  width: 140px;
}
.pc-model .model-item .window-box {
  width: 140px;
  height: 140px;
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pc-model .model-item .window-box > img {
  width: 46px;
  height: 52px;
}
.pc-model .model-item .window-box > span {
  margin-top: 10px;
}
.pc-model .model-item .window-box .invite-code {
  width: 100px;
  height: 100px;
}
.pc-model .model-item .btn {
  width: 140px;
  height: 44px;
  border: none;
  background: linear-gradient(90deg, #ffe156, #ffb400);
  box-shadow: 1px 5px 20px 0px rgba(255, 180, 0, 0.2);
  border-radius: 22px;
  color: #262626;
  font-size: 14px;
  font-weight: bold;
}
@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes masked-animation-vertical {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes masked-animation-vertical {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 0;
  }
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #fffcee;
}
.ant-input:hover,
.ant-input:focus,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ffe156;
}
.ant-pagination-item-active {
  border-color: #ffb400;
  background: #ffb400;
}
.ant-pagination-item-active > a {
  color: #333;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-pagination-options-quick-jumper input:hover {
  border-color: #ffb400;
}
.ant-pagination-item:focus > a,
.ant-pagination-item:hover > a,
.ant-pagination-options-quick-jumper input:hover > a {
  color: #333;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #ffb400;
  color: #ffb400;
}
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-calendar-time-picker-select li:focus {
  color: #ffb400;
}
.ant-calendar-today .ant-calendar-date {
  color: #ffb400;
  border-color: #ffb400;
}
.ant-calendar-selected-day .ant-calendar-date {
  background: #ffb400;
}
.ant-calendar-today .ant-calendar-date {
  background: #fefbea;
}
.ant-calendar .ant-calendar-ok-btn {
  background: #ffb400;
  border-color: #ffb400;
}
.ant-calendar .ant-calendar-ok-btn:hover,
.ant-calendar .ant-calendar-ok-btn:focus {
  background-color: #ffe156;
  border-color: #ffe156;
}
.ant-calendar .ant-calendar-ok-btn-disabled,
.ant-calendar .ant-calendar-ok-btn.disabled,
.ant-calendar .ant-calendar-ok-btn[disabled],
.ant-calendar .ant-calendar-ok-btn-disabled:hover,
.ant-calendar .ant-calendar-ok-btn.disabled:hover,
.ant-calendar .ant-calendar-ok-btn[disabled]:hover,
.ant-calendar .ant-calendar-ok-btn-disabled:focus,
.ant-calendar .ant-calendar-ok-btn.disabled:focus,
.ant-calendar .ant-calendar-ok-btn[disabled]:focus,
.ant-calendar .ant-calendar-ok-btn-disabled:active,
.ant-calendar .ant-calendar-ok-btn.disabled:active,
.ant-calendar .ant-calendar-ok-btn[disabled]:active,
.ant-calendar .ant-calendar-ok-btn-disabled.active,
.ant-calendar .ant-calendar-ok-btn.disabled.active,
.ant-calendar .ant-calendar-ok-btn[disabled].active {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #ffb400;
}
.ant-btn-link:hover {
  color: #ffa800;
}
.ant-calendar-time-picker-select::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 111111s;
  -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
}
