@media screen and (max-width: 1500px) {
  .container {
    width: 900px !important;
  }
  .page-index .header-box .header-title {
    font-size: 64px !important;
  }
  .page-index .body-box .main-title {
    font-size: 43px !important;
    margin-top: 96px !important;
  }
  .page-index .body-box .describe-box {
    width: 268px !important;
  }
  .page-index .body-box .describe-box .small-title {
    font-size: 32px !important;
  }
  .page-index .body-box .describe-box .sub-desc {
    line-height: 1.8 !important;
    font-size: 16px !important;
  }
  .page-index .body-box .describe-box .bg-3 {
    left: 160px !important;
    top: 15px !important;
    width: 78px !important;
    height: 78px !important;
  }
  .page-index .body-box .bg-1 {
    left: -160px !important;
    top: -92px !important;
    width: 352px !important;
  }
  .page-index .body-box .bg-2 {
    top: 456px !important;
    width: 202px !important;
  }
  .page-index .body-box .main-content-0 {
    width: 960px!important;
    padding: 42px 0 64px!important;
  }
  .page-index .body-box .main-content-0 .case-box {
    width: 179px!important;
    height: 208px!important;
  }
  .page-index .body-box .main-content-0 .case-box span {
    height: 60px!important;
    font-size: 16px!important;
  }
  .page-index .body-box .main-img-box-1 {
    width: 712px !important;
    height: 523px !important;
  }
  .page-index .body-box .main-img-box-1 .img-1 {
    left: 64px !important;
    top: 55px !important;
    width: 640px !important;
  }
  .page-index .body-box .main-img-box-1 .img-2 {
    left: 90px !important;
    width: 583px !important;
  }
  .page-index .body-box .main-img-box-1 .img-3 {
    width: 352px !important;
  }
  .page-index .body-box .main-img-box-1 .img-4 {
    right: -8px !important;
    bottom: 16px !important;
    width: 336px !important;
  }
  .page-index .body-box .main-img-box-2 {
    width: 868px !important;
    height: 503px !important;
    margin-left: -110px !important;
    margin-right: -124px !important;
    margin-bottom: -32px !important;
  }
  .page-index .body-box .main-img-box-2 .img-5 {
    left: 164px !important;
    top: 136px !important;
    width: 592px !important;
  }
  .page-index .body-box .main-img-box-2 .img-6 {
    width: 511px !important;
  }
  .page-index .body-box .main-img-box-2 .img-7 {
    width: 443px !important;
  }
  .page-index .body-box .main-img-box-3 {
    width: 752px !important;
    height: 565px !important;
    margin-left: -85px !important;
    margin-top: 56px!important;
    margin-bottom: -112px !important;
  }
  .page-index .body-box .main-img-box-3 .img-8 {
    left: 32px !important;
    top: 53px !important;
    width: 720px !important;
  }
  .page-index .body-box .main-img-box-3 .img-9 {
    width: 421px !important;
  }
  .page-index .body-box .main-content-4 {
    padding: 144px 0 120px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 {
    width: 563px !important;
    height: 370px !important;
    margin-left: 60px !important;
    margin-right: -50px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .img-10 {
    width: 157px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .beauty-img-box {
    left: 131px!important;
    top: 17px!important;
    width: 432px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-btn {
    left: 200px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-box {
    width: 216px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-box .silde-beauty-img {
    width: 432px!important;
  }
  .page-index .advert-box {
    height: 480px !important;
  }
  .page-index .advert-box h1 {
    font-size: 48px !important;
  }
  .page-index .advert-box p {
    font-size: 16px !important;
    margin-bottom: 40px !important;
  }
  .page-index .advert-box button {
    width: 156px !important;
    height: 53px !important;
    font-size: 14px !important;
  }
  .page-index .footer .container-2 .container {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .download .tab-box .left {
    width: 320px !important;
    padding-top: 130px !important;
  }
  .download .tab-box .left h1 {
    font-size: 32px !important;
  }
  .download .tab-box .left .desc {
    font-size: 16px !important;
    line-height: 1.8 !important;
    margin-top: 28px !important;
    margin-bottom: 40px !important;
  }
  .download .tab-box .left .download-window {
    width: 160px !important;
    height: 48px !important;
    font-size: 14px !important;
  }
  .download .tab-box .student-download .download-scan img {
    width: 110px !important;
    height: 110px !important;
  }
  .download .tab-box .student-download .download-btn-group {
    height: 110px !important;
  }
  .download .tab-box .student-download .download-btn-group button,
  .download .tab-box .student-download .download-btn-group a {
    width: 128px !important;
    height: 48px !important;
  }
  .download .right .tab-img-1 {
    width: 675px !important;
  }
  .download .right .tab-img-2 {
    width: 622px !important;
  }
  .download .ant-tabs-bar {
    height: 105px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav {
    height: 105px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
    height: 105px !important;
    padding: 0 32px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab > span i {
    font-size: 30px !important;
  }
  .ant-popover-inner .ant-popover-inner-content {
    zoom: 0.8;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 0 66px !important;
  }
  .header .nav li {
    font-size: 14px !important;
    padding: 0 20px !important;
  }
  .header .header-btn-group button,
  .header .header-btn-group a {
    width: 77px !important;
    height: 32px !important;
    font-size: 12px !important;
    margin-left: 16px !important;
  }
  .container {
    width: 700px !important;
  }
  .page-index .header-box .header-title {
    font-size: 40px !important;
  }
  .page-index .header-box .header-subtitle {
    font-size: 14px !important;
    margin-bottom: 40px !important;
  }
  .page-index .header-box .build-btn {
    width: 200px !important;
    height: 50px !important;
    font-size: 18px !important;
  }
  .page-index .header-box .build-btn > img {
    padding: 6px !important;
    margin-left: 20px !important;
  }
  .page-index .body-box .main-title {
    font-size: 32px !important;
    margin-top: 60px !important;
  }
  .page-index .body-box .describe-box {
    width: 262px !important;
  }
  .page-index .body-box .describe-box .small-title {
    font-size: 24px !important;
  }
  .page-index .body-box .describe-box .sub-desc {
    font-size: 12px !important;
  }
  .page-index .body-box .describe-box .desc-icon {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 16px !important;
  }
  .page-index .body-box .describe-box .bg-3 {
    left: 120px !important;
    top: 18px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .page-index .body-box .bg-1 {
    left: -120px !important;
    top: -69px !important;
    width: 264px !important;
  }
  .page-index .body-box .bg-2 {
    top: 456px !important;
    width: 202px !important;
  }
  .page-index .body-box .main-content-0 {
    width: 720px!important;
    padding: 32px 0 48px!important;
  }
  .page-index .body-box .main-content-0 .case-box {
    width: 134px!important;
    height: 156px!important;
  }
  .page-index .body-box .main-content-0 .case-box span {
    font-size: 14px!important;
  }
  .page-index .body-box .main-img-box-1 {
    width: 534px !important;
    height: 392px !important;
  }
  .page-index .body-box .main-img-box-1 .img-1 {
    left: 48px !important;
    top: 41px !important;
    width: 480px !important;
  }
  .page-index .body-box .main-img-box-1 .img-2 {
    left: 68px !important;
    width: 437px !important;
  }
  .page-index .body-box .main-img-box-1 .img-3 {
    width: 264px !important;
  }
  .page-index .body-box .main-img-box-1 .img-4 {
    right: -6px !important;
    bottom: 12px !important;
    width: 252px !important;
  }
  .page-index .body-box .main-img-box-2 {
    width: 651px !important;
    height: 377px !important;
    margin-right: -70px !important;
  }
  .page-index .body-box .main-img-box-2 .img-5 {
    left: 123px !important;
    top: 102px !important;
    width: 444px !important;
  }
  .page-index .body-box .main-img-box-2 .img-6 {
    width: 383px !important;
  }
  .page-index .body-box .main-img-box-2 .img-7 {
    width: 332px !important;
  }
  .page-index .body-box .main-img-box-3 {
    width: 564px !important;
    height: 424px !important;
    margin-left: -64px !important;
    margin-top: 42px!important;
    margin-bottom: -84px !important;
  }
  .page-index .body-box .main-img-box-3 .img-8 {
    left: 24px !important;
    top: 40px !important;
    width: 540px !important;
  }
  .page-index .body-box .main-img-box-3 .img-9 {
    width: 316px !important;
  }
  .page-index .body-box .main-content-4 {
    padding: 108px 0 90px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 {
    width: 422px !important;
    height: 277px !important;
    margin-left: 60px !important;
    margin-right: -50px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .img-10 {
    width: 118px !important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .beauty-img-box {
    left: 98px!important;
    top: 13px!important;
    width: 324px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-btn {
    left: 146px!important;
    top: 8px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-box {
    width: 162px!important;
  }
  .page-index .body-box .main-content-4 .main-img-box-4 .silde-box .silde-beauty-img {
    width: 324px!important;
  }
  .page-index .advert-box {
    height: 360px !important;
  }
  .page-index .advert-box h1 {
    font-size: 34px !important;
  }
  .page-index .advert-box p {
    font-size: 14px !important;
  }
  .page-index .advert-box button {
    width: 140px !important;
    height: 44px !important;
    font-size: 12px !important;
  }
  .page-index .footer .container-1 .top {
    flex-direction: column !important;
    justify-content: center !important;
    line-height: 1.8 !important;
  }
  .page-index .footer .container-1 .top span,
  .page-index .footer .container-1 .top a {
    font-size: 12px !important;
  }
  .page-index .footer .container-2 .container {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .download .tab-box .left {
    width: 260px !important;
    padding-top: 100px !important;
  }
  .download .tab-box .left h1 {
    font-size: 24px !important;
  }
  .download .tab-box .left .desc {
    font-size: 12px !important;
    margin-top: 12px !important;
    margin-bottom: 26px !important;
  }
  .download .tab-box .left .download-window {
    width: 140px !important;
    height: 40px !important;
    font-size: 12px !important;
  }
  .download .tab-box .student-download .download-scan {
    font-size: 12px !important;
  }
  .download .tab-box .student-download .download-scan img {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 10px;
  }
  .download .tab-box .student-download .download-btn-group {
    height: 90px !important;
  }
  .download .tab-box .student-download .download-btn-group button,
  .download .tab-box .student-download .download-btn-group a {
    width: 110px !important;
    height: 40px !important;
    font-size: 12px !important;
  }
  .download .right .tab-img-1 {
    width: 476px !important;
  }
  .download .right .tab-img-2 {
    width: 400px !important;
  }
  .download .ant-tabs-bar {
    height: 70px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav-container {
    font-size: 12px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav {
    height: 70px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
    height: 70px !important;
    padding: 0 30px !important;
  }
  .download .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab > span i {
    font-size: 24px !important;
  }
  .help .container {
    padding-top: 20px !important;
  }
  .help .left {
    width: 210px !important;
  }
  .help .fixwidth {
    width: 210px !important;
  }
}
