// 媒体查询适应小屏
@media screen and (max-width: 1500px) {
  .container {
    width: 900px !important;
  }
  .page-index {
    .header-box {
      .header-title {
        font-size: 64px !important;
      }
    }
    .body-box {
      .main-title {
        font-size: 43px !important;
        margin-top: 96px !important;
      }
      .describe-box {
        width: 268px !important;
        .small-title {
          font-size: 32px !important;
        }
        .sub-desc {
          line-height: 1.8 !important;
          font-size: 16px !important;
        }
        .bg-2 {
          top: -38px !important;
          width: 78px !important;
          height: 78px !important;
        }
        .bg-4 {
          right: 106px !important;
          top: -38px !important;
          width: 78px !important;
          height: 78px !important;
        }
        .bg-6 {
          left: 180px !important;
          top: -24px !important;
          width: 71px !important;
          height: 71px !important;
        }
      }
      .bg-3 {
        top: 456px !important;
        width: 202px !important;
      }
      .bg-5 {
        bottom: 240px !important;
        width: 380px !important;
      }
      .main-img-box-1 {
        width: 712px !important;
        height: 523px !important;
        .img-1 {
          left: 64px !important;
          top: 55px !important;
          width: 640px !important;
        }
        .img-2 {
          left: 90px !important;
          width: 583px !important;
        }
        .img-3 {
          width: 352px !important;
        }
        .img-4 {
          right: -8px !important;
          bottom: 16px !important;
          width: 336px !important;
        }
        .bg-1 {
          left: -41px !important;
          top: -45px !important;
          width: 328px !important;
        }
      }
      .main-img-box-2 {
        width: 696px !important;
        height: 518px !important;
        margin-right: -136px !important;
        .img-5 {
          left: 18px !important;
          top: 34px !important;
          width: 640px !important;
        }
        .img-6 {
          width: 336px !important;
        }
        .img-7 {
          width: 272px !important;
        }
      }
      .main-img-box-3 {
        width: 724px !important;
        height: 568px !important;
        .img-8 {
          left: 18px !important;
          top: 34px !important;
          width: 640px !important;
        }
        .img-9 {
          top: 30px !important;
          width: 368px !important;
        }
        .img-10 {
          width: 304px !important;
        }
        .img-11 {
          width: 384px !important;
        }
      }
    }
    .advert-box {
      height: 480px !important;
      h1 {
        font-size: 48px !important;
      }
      p {
        font-size: 16px !important;
        margin-bottom: 40px !important;
      }
      button {
        width: 156px !important;
        height: 53px !important;
        font-size: 14px !important;
      }
    }
    .footer .container-2 .container {
      flex-direction: column !important;
      justify-content: center !important;
    }
  }
  .download {
    .tab-box {
      .left {
        width: 320px !important;
        padding-top: 130px !important;
        h1 {
          font-size: 32px !important;
        }
        .desc {
          font-size: 16px !important;
          line-height: 1.8 !important;
          margin-top: 28px !important;
          margin-bottom: 40px !important;
        }
        .download-window {
          width: 160px !important;
          height: 48px !important;
          font-size: 14px !important;
        }
      }
      .student-download {
        .download-scan img {
          width: 110px !important;
          height: 110px !important;
        }
        .download-btn-group {
          height: 110px !important;
          button,
          a {
            width: 128px !important;
            height: 48px !important;
          }
        }
      }
    }
    .right {
      .tab-img-1 {
        width: 675px !important;
      }
      .tab-img-2 {
        width: 622px !important;
      }
    }
    .ant-tabs-bar {
      height: 105px !important;
      .ant-tabs-nav {
        height: 105px !important;
        .ant-tabs-tab {
          height: 105px !important;
          padding: 0 32px !important;
          & > span {
            i {
              font-size: 30px !important;
            }
          }
        }
      }
    }
  }
  .ant-popover-inner{
    .ant-popover-inner-content{
      zoom: .8;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 66px !important;
    .nav li {
      font-size: 14px !important;
      padding: 0 20px !important;
    }
    .header-btn-group button,
    .header-btn-group a {
      width: 77px !important;
      height: 32px !important;
      font-size: 12px !important;
      margin-left: 16px !important;
    }
  }
  .container {
    width: 700px !important;
  }
  .page-index {
    .header-box {
      .header-title {
        font-size: 40px !important;
      }
      .header-subtitle {
        font-size: 14px !important;
        margin-bottom: 40px !important;
      }
      .build-btn {
        width: 200px !important;
        height: 50px !important;
        font-size: 18px !important;
        & > img {
          padding: 6px !important;
          margin-left: 20px !important;
        }
      }
    }
    .body-box {
      .main-title {
        font-size: 32px !important;
        margin-top: 60px !important;
      }
      .describe-box {
        width: 262px !important;
        .small-title {
          font-size: 24px !important;
        }
        .sub-desc {
          font-size: 12px !important;
        }
        .bg-2 {
          top: -29px !important;
          width: 59px !important;
          height: 59px !important;
        }
        .bg-4 {
          right: 79px !important;
          top: -29px !important;
          width: 59px !important;
          height: 59px !important;
        }
        .bg-6 {
          left: 135px !important;
          top: -18px !important;
          width: 53px !important;
          height: 53px !important;
        }
      }
      .bg-3 {
        top: 456px !important;
        width: 202px !important;
      }
      .bg-5 {
        bottom: 180px !important;
        width: 285px !important;
      }
      .main-img-box-1 {
        width: 534px !important;
        height: 392px !important;
        .img-1 {
          left: 48px !important;
          top: 41px !important;
          width: 480px !important;
        }
        .img-2 {
          left: 68px !important;
          width: 437px !important;
        }
        .img-3 {
          width: 264px !important;
        }
        .img-4 {
          right: -6px !important;
          bottom: 12px !important;
          width: 252px !important;
        }
        .bg-1 {
          left: -31px !important;
          top: -36px !important;
          width: 264px !important;
        }
      }
      .main-img-box-2 {
        width: 522px !important;
        height: 389px !important;
        margin-right: -70px !important;
        .img-5 {
          left: 14px !important;
          top: 26px !important;
          width: 480px !important;
        }
        .img-6 {
          width: 252px !important;
        }
        .img-7 {
          width: 144px !important;
        }
      }
      .main-img-box-3 {
        width: 543px !important;
        height: 426px !important;
        .img-8 {
          left: 14px !important;
          top: 26px !important;
          width: 480px !important;
        }
        .img-9 {
          top: 23px !important;
          width: 276px !important;
        }
        .img-10 {
          width: 228px !important;
        }
        .img-11 {
          width: 288px !important;
        }
      }
    }
    .advert-box {
      height: 360px !important;
      h1 {
        font-size: 34px !important;
      }
      p {
        font-size: 14px !important;
      }
      button {
        width: 140px !important;
        height: 44px !important;
        font-size: 12px !important;
      }
    }
    .footer .container-1 .top {
      flex-direction: column !important;
      justify-content: center !important;
      line-height: 1.8 !important;
      span,
      a {
        font-size: 12px !important;
      }
    }
    .footer .container-2 .container {
      flex-direction: column !important;
      justify-content: center !important;
    }
  }
  .download {
    .tab-box {
      .left {
        width: 260px !important;
        padding-top: 100px !important;
        h1 {
          font-size: 24px !important;
        }
        .desc {
          font-size: 12px !important;
          margin-top: 12px !important;
          margin-bottom: 26px !important;
        }
        .download-window {
          width: 140px !important;
          height: 40px !important;
          font-size: 12px !important;
        }
      }
      .student-download {
        .download-scan {
          font-size: 12px !important;
          img {
            width: 90px !important;
            height: 90px !important;
            margin-bottom: 10px;
          }
        }
        .download-btn-group {
          height: 90px !important;
          button,
          a {
            width: 110px !important;
            height: 40px !important;
            font-size: 12px !important;
          }
        }
      }
    }
    .right {
      .tab-img-1 {
        width: 476px !important;
      }
      .tab-img-2 {
        width: 400px !important;
      }
    }
    .ant-tabs-bar {
      height: 70px !important;
      .ant-tabs-nav-container {
        font-size: 12px !important;
      }
      .ant-tabs-nav {
        height: 70px !important;
        .ant-tabs-tab {
          height: 70px !important;
          padding: 0 30px !important;
          & > span {
            i {
              font-size: 24px !important;
            }
          }
        }
      }
    }
  }
  .help {
    .container {
      padding-top: 20px !important;
    }
    .left {
      width: 210px !important;
    }
    .fixwidth {
      width: 210px !important;
    }
  }
}
