*,
p {
  padding: 0;
  margin: 0;
}
html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  color: #666;
  font-size: 14px;
}
a {
  font-style: normal;
  text-decoration: none;
  color: #FFA800;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
a:hover {
  color: #FFE156;
}
ol,
ul,
dl {
  padding-left: 1.2em;
}
input,
img,
button {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
i,
em {
  font-style: normal;
}
input[type="number"],
textarea {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bebebe;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bebebe;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bebebe;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bebebe;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.id-flex {
  display: -webkit-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
}
.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ali-start {
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.ali-cen {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.ali-end {
  align-items: flex-end;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.juc-cen {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.juc-end {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.flex-dircol {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.juc-bet {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.juc-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
::-webkit-scrollbar {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
}
